<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nodejs Dakar User group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="Name" content="DakarLug Blog"/>    
    <!-- CSS stuff -->
    <link rel="stylesheet" href="http://blog.dakarlug.org/static/css/blueprint/screen.css" type="text/css" media="projection">
    <link rel="stylesheet" href="http://blog.dakarlug.org/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="http://blog.dakarlug.org/static/css/blueprint/lib/ie.css" type="text/css" media="projection"><![endif]-->
    <link rel="stylesheet" href="http://blog.dakarlug.org/static/buriy/css/style.css" type="text/css" media="projection">
    
    <link rel="alternate" type="application/rss+xml" title="Entries RSS" href="/feeds/rss/blog/" />
    <link rel="alternate" type="application/rss+xml" title="Comments RSS" href="/feeds/rss/comments/" />
  

    <link rel="stylesheet" type="text/css" href="http://blog.dakarlug.org/static/buriy/css/default_right.css" />

    <link rel="stylesheet" type="text/css" href="http://blog.dakarlug.org/static/buriy/css/nicetitle.css" />

    <script type="text/javascript" src="http://blog.dakarlug.org/static/buriy/js/nicetitle.js"></script>
    <script type="text/javascript" src="http://blog.dakarlug.org/static/buriy/js/jquery.min.js"></script>

    <!-- favorite icon -->
    <link rel="shortcut icon" href="http://blog.dakarlug.org/static/buriy/blog.gif"/>
    <link rel="icon" href="http://blog.dakarlug.org/static/buriy/blog.gif"/>
    
<link rel="stylesheet" type="text/css" href="http://blog.dakarlug.org/static/css/highlight.css" />
<script type="text/javascript" src="http://blog.dakarlug.org/static/js/highlight.js"></script>
<script type="text/javascript">initHighlightingOnLoad();</script>


</head>
<!-- <body>
<div id="mainwrapper">
    <div id="wrapper">
        <!-- Content area begins -->
        <div id="container">
            <div class="content">
           

<div class="contenttitle">
<h2><a
    title="test"
    href="test"> test </a></h2>
</div>

<div class="contentitem">
    <div class="contentitem1">
    <!-- small class="contentitemcategory">
        Categories: 


    </small -->
    </div>
    <div class="contentitem2">
        <small class="contentitempostedby">
        écrit le 14 août 2013
        par Thomas
        </small>
    </div>
    <!-- div class="contentitem3">
        
            <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/#comments" rel="bookmark">
            
            Ajouter un commentaire
            </small>
    </div -->
    
</div>
<div class="contentbody">
  {{ content }}    
</div>

<div class="pagination">
    
Pages&nbsp;: 



    1
    



    
    
    <a href="?page=2">2</a>
    



    
    
    <a href="?page=3">3</a>
    



    
    
    <a href="?page=4">4</a>
    



    
    
    <a href="?page=5">5</a>
    



    
    
    <a href="?page=6">6</a>
    




    
    
    <a href="?page=12">12</a>
    


 
<a href="?page=2">&raquo;</a>


</div>





            </div>
        </div>
    
        <!-- Sidebar area begins -->
        <h2 class="hidden">Sidebar</h2>
        <div id="sidebarcontainer">
		<a href="/">
		<div id="header">
		<h1></h1>
		</div>
		</a>
            


<br />

<div class="sidebar">
    <dl class="sidebardl">
    <dt>Les autres outils de DakarLUG</dt>
    <!-- dd><a href="http://forum.dakarlug.org/" title="Le forum de DakarLug">Le forum</a></dd -->
    <!-- dd><a href="http://dakarlug.org/wiki" title="Le wiki de DakarLug">Le wiki</a></dd -->
    <dd><a href="http://dakarlug.org/liste" title="La liste des discussion Libre">La liste de discussion</a></dd>
    <!-- dd><a href="http://dakarlug.org/python-liste" title="La liste des discussion Python">La liste de discussion sur Python</a></dd -->
    <dd><a title="blog entries feed" href="/feeds/rss/blog/">Flux RSS de ce blog</a></li>
    </dt>
</div>

<div class="sidebar">
    <dl class="sidebardl">
    <dt>Derniers articles</dt>
    
    
        <dd>
    <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/">test</a>

</dd>
    
        <dd>
 <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/">test</a>


</dd>
    
        <dd>
    <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/">test</a>


</dd>
    
        <dd>
   <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/">test</a>


</dd>
    
        <dd>
   <a href="/2013/08/14/apres-midi-17-aout-2013-pour-reparer-dakarlug/">test</a>


</dd>
    
    </dt>
    
</div>


<script type="text/javascript">
function showLoginForm() {
    document.getElementById('login-form').style.display = 'block';
    return false;
}

function hideLoginForm() {
    document.getElementById('login-form').style.display = 'none';
    return false;
}
</script>
<div class="sidebar">
    <dl class="sidebardl">
    <dt>Connexion</dt>
    
    <dd><a class="first last" href="/accounts/login/" onclick="return showLoginForm();">Connexion</a></dd>
    
    </dl>
</div>
<div class="sidebar" id="login-form" style='display:none'>
    <dl class="sidebardl">
        <dt>Se connecter avec un mot de passe</dt>
        <dd>
        <form action="/accounts/login/" method="post">
            <input type="text" id="email" name="email" />
            <input type="password" id="password" name="password" />
            <input type="submit" value="Login" />
        </form>
        <!-- (or comment any post to register) -->
        <a href="/accounts/reset/">Mot de passe oublié?</a>
        </dd>
</div>

        </div>
        <div class="clearing" style="clear:both">&nbsp;</div>
    </div>
</div>
    <!-- Footer begins -->
<div id="footer">
    <div id="copyrights"><!-- <small>(c) <strong>Dakarlug</strong>
| <a href="#top">Revenir en haut</a> -->copyleft <strong>Dakarlug</strong> | Propulsé par <strong><a href="https://bitbucket.org/piranha/byteflow/wiki/Home">Byteflow</a></strong></small></div>


</div>
</body -->
<boby>
<div>test me</div>
</body>
</html>
